################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExploreCalifornia/.vs/ExploreCalifornia/v16/.suo
